<ul class="log-info {{classInfo}}">
    <li ng-if="!isLoggedIn">
        <a href="/login">
            <i class="fa fa-user"></i>&nbsp;
            Login
        </a>
    </li>
    <li ng-if="isLoggedIn" class="log-icon-block">
        <div class="log-icon">
            <i class="fa fa-user fa-2x"></i>
        </div>
        <div>
            <p ng-click="logout()">Logout</p>
        </div>
        <div>
            <span>You logged in as {{userName}}</span>
        </div>
    </li>
    <li ng-if="isLoggedIn">
        <a href="/admin">
            Admin
        </a>
    </li>
</ul>